@import "../../App.scss";

.hero {
  padding: 8rem 0 !important;
  background-size: cover;
  background-repeat: no-repeat;

  @media all and (max-width: $bp-tablet) {
    padding: 0 !important;
  }

  &__row {
    padding: 4rem 0 !important;

    @media all and (max-width: $bp-tablet) {
      width: 100% !important;
      padding: 0 !important;
    }
  }

  &__image {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: auto;

      @media all and (max-width: $bp-tablet-sm) {
        aspect-ratio: 1.5 / 1;
        object-fit: cover;
      }
    }
  }

  &__content {
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 700px;

    @media all and (max-width: $bp-tablet) {
      max-width: 100%;
      padding: 2rem 5%;
      margin-top: -3rem;
    }

    h1 {
      padding-bottom: 0.75rem;
      line-height: 1;

      .outer {
        display: inline-block;
        overflow: hidden;

        @for $i from 1 through 50 {
          &:nth-child(#{$i}) {
            .inner {
              animation-delay: 0.02s * $i;
            }
          }
        }
      }

      .inner {
        display: inline-block;
        will-change: transform;
        transform: translate3d(0, 100%, 0);
        animation: text-reveal 0.8s cubic-bezier(0.5, 0, 0.5, 1) forwards;
      }
    }
  }

  &__button-wrapper {
    display: flex;
    gap: 1rem;
    padding-top: 2rem;

    @media all and (max-width: $bp-tablet-sm) {
      flex-direction: column;
    }
  }
}
