@import "../../App.scss";

.content {
  &__multi-heading {
    display: flex;
    gap: 5rem;
    padding-bottom: 2rem;

    @media all and (max-width: $bp-tablet) {
      gap: 2rem;
    }

    p {
      @extend %text-uppercase;
      padding-bottom: 0;

      &:last-child {
        text-indent: 0;
      }
    }
  }

  &__content {
    h2 {
      padding-bottom: 3rem;
    }

    p {
      max-width: 800px;
    }
  }
}
