@import "../../App.scss";

.services {
  .content__content {
    h2 {
      padding-bottom: 4rem;
    }
  }
}

.media-with-text {
  @media all and (min-width: $bp-desktop-up) {
    &:not(:last-child) {
      padding: 0 !important;
    }

    &:last-child {
      padding-top: 0 !important;
    }
  }
}
