@import "../../App.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2.5%;

  &__logo {
    img {
      height: 40px;
    }
  }

  &__items {
    display: flex;
    gap: 3rem;
    list-style-type: none;

    &__item {
      @extend %text-uppercase;
      @extend %text-link;
    }
  }
}
