// Breakpoints
$bp-desktop-lg-up: 1367px;
$bp-desktop-lg: 1366px;
$bp-desktop-up: 981px;
$bp-tablet: 980px;
$bp-tablet-sm-up: 768px;
$bp-tablet-sm: 767px;
$bp-mobile-sm-up: 480px;
$bp-mobile: 479px;

// Color
$color-black: #303134;
$color-grey: #626366;
$color-light-grey: #f7f7f7;
$color-blue: #09b3e8;
$color-white: #fff;
$color-border: #dadada;

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
$font-regular: "Roboto", sans-serif;

// Placeholders
%text-uppercase {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

%text-link {
  background-image: linear-gradient(currentColor, currentColor);
  background-position-x: 0%;
  background-position-y: 100%;
  background-size: 0% 0.05em;
  background-repeat: no-repeat;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-size: 100% 0.05em;
    transition: all 0.3s ease-in-out;
  }
}

%text-link-reverse {
  background-size: 100% 0.05em;

  &:hover {
    background-size: 0% 0.05em;
  }
}

%text-indent {
  text-indent: 5rem;

  @media all and (max-width: $bp-tablet) {
    text-indent: 2rem;
  }
}

%label {
  font-size: 0.9375rem;
  font-weight: 500;
  color: $color-black;
}

%input {
  width: 100%;
  padding: 1rem;
  background-color: $color-white;
  border: 1px solid $color-border;
  border-radius: 0.75rem;
  box-shadow: var(--shadow-xs);
  font-size: 1rem;
  font-weight: 400;
  color: $color-black;
  transition: all 0.1s ease-in-out;

  &::placeholder {
    font-size: 0.9375rem;
    font-weight: 400;
    color: $color-black;
    opacity: 0.5;
    transition: all 0.1s ease-in-out;
  }

  &:focus {
    border: 1px solid transparent;
    box-shadow: 0px 1px 2px $color-blue, 0px 0px 0px 4px $color-blue;
    transition: all 0.1s ease-in-out;

    &::placeholder {
      opacity: 1;
      transition: all 0.1s ease-in-out;
    }
  }
}

%text-indent,
.text-indent {
  text-indent: 5rem;

  @media all and (max-width: $bp-tablet) {
    text-indent: 2rem;
  }
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: $font-regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::selection {
  background: $color-blue;
  color: $color-white;
}

a {
  color: initial;
  text-decoration: none;
}

// Typography

body {
  font-family: "Roboto", sans-serif;
  color: $color-grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 1rem;
}

h1,
.h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: $color-black;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 2.25rem;
  }
}

h2,
.h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: $color-black;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: $color-black;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 1.5rem;
  }
}

h4,
.h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: $color-black;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 1.25rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: $color-black;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 1.125rem;
  }
}

h6,
.h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: $color-black;

  @media all and (max-width: $bp-tablet-sm) {
    font-size: 1rem;
  }
}

p,
ol,
ul {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.01em;
  color: $color-grey;

  // a {
  //   color: $color-grey;
  //   @extend %text-link;
  //   @extend %text-link-reverse;
  // }
}

p {
  padding-bottom: 1.5rem;

  &:last-of-type {
    padding-bottom: 0;
  }
}

// Layout
.section {
  padding: 5rem 0;

  @media all and (max-width: $bp-tablet) {
    padding: 2rem 0;
  }
}

.row {
  padding: 4rem 0;
  width: 95%;
  max-width: 1920px;
  margin: 0 auto;

  @media all and (max-width: $bp-tablet) {
    padding: 2rem 0;
    width: 90%;
  }
}

// Animation
$animation-up-cubic-half: reveal-up 0.5s cubic-bezier(0.5, 0, 0.5, 1);
$animation-up-reverse-cubic-half: reveal-up-reverse 0.5s
  cubic-bezier(0.5, 0, 0.5, 1);

@keyframes reveal-up {
  from {
    top: 20px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes reveal-up-reverse {
  from {
    top: 0;
    opacity: 1;
  }

  to {
    top: 20px;
    opacity: 0;
  }
}
